body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

paper-tabs::shadow #selectionBar {
  background-color: #FFEB3B;
}

paper-tabs paper-tab::shadow #ink {
  color: #1976D2;
}

paper-tabs {
    background-color: #2196F3;
}

core-selector paper-item:nth-child(even) {
    background-color: #2196F3;
}

core-selector paper-item:nth-child(odd) {
    background-color: #03A9F4;
}

core-selector paper-item:hover {
    background-color: #536DFE;
}

body /deep/ paper-button:hover {
    font-weight: bold;
}

body /deep/ paper-checkbox[nodefault]::shadow #checkbox {
    background-color: #f44242;
    border-color: #f44242;
}

core-selector paper-item.core-selected {
    background-color: #536DFE;
    font-weight: bold;
}

paper-item:hover{
    font-weight: bold;
}

.head {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.buttonlist{
    width:15%;
    min-width:200px;
    margin-right: 4px;
}

.imprint{
    position: fixed;
    bottom: 0px;
    width: 100%
}

.permission{
    margin-top:5px;
}

.permission .key{
    min-width:300px; 
    margin-left: 5px;
    margin-right: 5px;
}

.permission:hover{
    color: #536DFE
}

.mainlayout{
    margin-top: 3px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

@media only screen and (max-width : 601px) {
    .mainlayout {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .buttonlist{
        margin-bottom: 10px
    }
 }

body /deep/ paper-dropdown-menu /deep/ #scroller{
    max-height: 300px;
}

body /deep/ core-icon:hover{
    color: #2be000
}

body /deep/ .buttonlist .list paper-item{
    z-index: auto;
}